<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/seleniumWeb/src/test/java/day22"><classes><class name="day22.DataProviderDemo"><methods><include name="testLogin"/></methods></class><class name="day22.SerialAndParallelExecutionDemo"><methods><include name="testLogo"/><include name="testTitle"/><include name="testUrl"/></methods></class></classes></test></suite>